@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  
}

.App{
  padding-top: 20px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,94,121,0.9249124820826768) 35%, rgba(0,212,255,1) 100%);
  
  background-size: cover;

font-family: 'Poppins', sans-serif;
height: inherit;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  max-width: 500px;
  margin: 10px auto;
  padding: 20px;
  background-color: rgba(248, 248, 248, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container > input,
.form-container > textarea
{
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  transition: border-color 0.3s ease;
}

.form-container > .input-container {
  position: relative;
}

.form-container > .input-container::before,
.form-container > .input-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: tomato;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.form-container > .input-container::before {
  transform-origin: bottom right;
}

.form-container > .input-container::after {
  transform-origin: bottom left;
}

.form-container > .input-focused::before,
.form-container > .input-focused::after {
  transform: scaleX(1);
}

.form-container > button{
  padding: 10px 20px;
  background-color: tomato;
  color: #fbf9f9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.5s all;
}
.form-container > button:hover{
  background-color: rgb(203, 54, 28);
  color: black;
}
.error {
  color: #ff0000;
  font-size: 0.9rem;
}



.registered-users-list {
  
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(248, 248, 248, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
padding-bottom: 20px;
}

.registered-users-list ul {
  list-style: none;
  padding: 0;
}

.registered-users-list li {
  margin-bottom: 10px;
}

.registered-users-list button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  margin-left: 10px;
}

.registered-users-list button:hover {
  background-color: #0056b3;
}



.registered-users-list table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.registered-users-list th,
.registered-users-list td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  max-width: 100px;
}
.btn{
  padding: 5px;
  background-color: tomato;
  color: #fbf9f9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.5s all;
}
.registered-users-list th {
  background-color: rgba(248, 248, 248, 0.5);
}

.registered-users-list th:first-child,
.registered-users-list td:first-child {
  border-left: none;
}

.registered-users-list th:last-child,
.registered-users-list td:last-child {
  border-right: none;
}

.user-details-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.user-details-modal.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-details-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  border-radius: 10px;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out;
}

.user-details-modal.active .user-details-content {
  animation: fadeIn 0.3s ease-in-out;
}

.user-details-content.active {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  border-radius: 10px;
  opacity: 1;
}

.user-details-content:not(.active) {
  display: none;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.close-btn{
  cursor: pointer;
  font-size: x-large;
  background-color: tomato;
  border-radius: 10px;
  
  margin: 1rem;
  
 transition: 0.5s all;
  
}

.close-btn:hover{
  background-color: #c72727;
}